body{
    min-height: 90vh;
    width: 100%;
    padding: 0px;
}
.heros{
    width: 100%;
    min-height: 300px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heros1{
    height: 300px;
    width: 100%;
    position: relative;
    background-color: blue;
}
.he2{

    background-color: aqua;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}
.heros3{
    text-align: center;
    font-size: large;
    color: red;
}

